*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', 'Arial', 'Helvetica';
    color: #fff;
}

/* HEADER SECTION */

header{
    height: 100vh;
    background-image: url('../images/checkers.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 220px 0;
}

header .logo{
    width: 63%;
}

header h5{
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header .links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
}

header .links h5{
    opacity: 0; /* initial opacity before animation plays */
    animation-fill-mode: forwards; /* keeps state at last frame of animation */
}

.fade-in-from-left{
    animation: fade-in-from-left 1.3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.delay-1{
    animation-delay: .2s;
}

.delay-2{
    animation-delay: .4s;
}

.delay-3{
    animation-delay: .6s;
}

@keyframes fade-in-from-left{
    0%{
        transform: translateX(-250px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* MAIN SECTIONS */

main section{
    text-align: center;
    /*background-attachment: fixed; doesn't work on ios :( */
}

.our-menu{
    height: 80vh;
    background-image: url('../images/sandwich.jpg');
    background-size: cover;
    background-position-x: -200px;
    position: relative;
}

.craft-brews{
    height: 80vh;
    background-image: url('../images/glass.jpg');
    background-size: cover;
    background-position-x: -660px;
    position: relative;
}

.live-music{
    height: 80vh;
    background-image: url('../images/guitar.jpg');
    background-size: cover;
    background-position-x: -660px;
    position: relative;
}

section h2.section-title{
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-block;
    margin-top: 170px;
}

section p{
    font-size: 42px;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 1.1;
    width: 70%;
    background: rgba(0,0,0,.5);
    padding: 47px;
    margin-top: 756px;
}

.our-menu p{
    text-align: left;
}

.craft-brews p{
    text-align: right;
    position: absolute;
    right: 0;
}