*{
    box-sizing: border-box;
}

header{
    height: 100vh;
    background-image: url('../images/checkers.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 170px 0;
}

header .logo{
    width: 75%;
}

header h5{
    font-family: 'Lato', 'Arial', 'Helvetica';
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header .links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
}

header .links h5{
    opacity: 0; /* initial opacity before animation plays */
    animation-fill-mode: forwards; /* keeps state at last frame of animation */
}

.fade-in-from-left{
    animation: fade-in-from-left 1.3s ease;
}

.fade-in-from-right{
    animation: fade-in-from-right 1.3s ease;
}

.delay-1{
    animation-delay: .2s;
}

.delay-2{
    animation-delay: .4s;
}

.delay-3{
    animation-delay: .6s;
}

@keyframes fade-in-from-left{
    0%{
        transform: translateX(-250px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}